
.swiper-container {
    padding-top: 30px;
    padding-bottom: 30px;
}


.slide-content {
    padding: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.swiper-slide img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 50%;
}


.swiper-slide p {

    padding-top: 40px;
    font-size: 22px;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 80px; 
    padding-bottom: 80px;   
}